<!-- Input Alternatif -->
<div id="input-altr" class="input-altr">
    <form action="/dss-app/input-alternatives" method="POST">
        <div class="form-group">
            <label for="inputNama">Nama</label>
            <input type="text" name="inputNama" id="inputNama" placeholder="Nama" class="form-control">
        </div>
        <% if(criterias.length > 0) { %>
            <% for(let criteria of criterias) { %>
                <div class="form-group">
                    <label for="inputC<%= criteria.id_criteria %>" >C<%= criteria.id_criteria %> Value</label>
                    <input type="text" name="inputC<%= criteria.id_criteria %>" id="inputC<%= criteria.id_criteria %>" placeholder="C<%= criteria.id_criteria %> Value" class="form-control">
                </div>
            <% } %>
        <% }else { %>
            <h1>There's no Criteria</h1>
        <% } %>   
        
        <!-- <div class="form-group">
            <label for="inputC2">C2 Value</label>
            <input type="text" name="inputC2" id="inputC2" placeholder="C2 Value" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC3">C3 Value</label>
            <input type="text" name="inputC3" id="inputC3" placeholder="C3 Value" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC4">C4 Value</label>
            <input type="text" name="inputC4" id="inputC4" placeholder="C4 Value" class="form-control">
        </div>                   
        <div class="form-group">
            <label for="inputC5">C5 Value</label>
            <input type="text" name="inputC5" id="inputC5" placeholder="C5 Value" class="form-control">
        </div>  
        <div class="form-group">
            <label for="groupId">Group Id</label>
            <input type="text" name="groupId" id="groupId" placeholder="C5 Value" class="form-control">
        </div>  -->

        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>
