<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/dss-style.css">
</head>
<%- include('../includes/navbar.ejs') %> 
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col text-light">
            <a href="#" onclick="showCriteria()"><div class="row-md-1">Criteria </div></a>
            <a href="#" onclick="showWeighting()"><div class="row-md-1">Weighting </div></a>
            <a href="#" onclick="showInputAltr()"><div class="row-md-1">Input Alternative </div></a>
            <a href="#" onclick="showViewAltr()"><div class="row-md-1">View Alternative </div></a>
            <!-- <a href="#"><div class="row-md-1">Generate </div></a> -->
            <a href="#" onclick="showOutput()"><div class="row-md-1">Output </div></a>
        </div>
        <div class="col-10 bg-light text-dark">
            <%- include('../dss-menu/criteria.ejs') %> 
            <%- include('../dss-menu/weighting.ejs') %> 
            <%- include('../dss-menu/input-alternetive.ejs') %> 
            <%- include('../dss-menu/view-alternative.ejs') %> 
            <%- include('../dss-menu/output.ejs') %> 
        </div>
             
    </div>
</div>

<script src="js/hideshow-dss.js"></script>
</body>
</html>


